<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>mvvm demo</title>
  <link rel="shortcut icon" type="image/ico" href="data:;" />
</head>

<body>
  <div id='app'>
    <div>
      modelParser-text:
      <input type='text' v-model='inputText.title' id="input" />{{inputText.title}}
    </div>
    <div>
      modelParser-radio:
      <input type="radio" value='me' v-model="radio" id='radioMe'>我
      <input type="radio" value='you' v-model="radio">你
      <span>{{radio}}</span>
    </div>
    <div>
      modelParser-checkbox(单):
      <input type="checkbox" value='apple' v-model='checkboxBool' id="checkboxBool">苹果
      <span>{{checkboxBool}}</span>
    </div>
    <div>
      modelParser-checkbox(多):
      <input type="checkbox" value='apple' v-model='checkboxArray' id='checkboxArray'>苹果
      <input type="checkbox" value='orange' checked="true" v-model='checkboxArray'>橘子
      <input type="checkbox" value='banana' v-model='checkboxArray'>香蕉
      <span>{{checkboxArray}}</span>
    </div>
    <div>
      modelParser-select(单):
      <select v-model="selected" id='selected'>
        <option value="apple">苹果</option>
        <option value="orange">橘子</option>
        <option value="banana">香蕉</option>
      </select>
      <span>{{selected}}</span>
    </div>
    <div>
      modelParser-select(多):
      <select v-model="selectedMult" multiple id='selectedMult'>
        <option value="apple">苹果</option>
        <option value="orange">橘子</option>
        <option value="banana">香蕉</option>
      </select>
      <span>{{selectedMult}}</span>
    </div>
    <div>
      <button v-on:click='update'>更新</button>
    </div>
  </div>
</body>
<script src='../../dist/mvvm.umd.js'></script>
<script>
  const data = {
    view: document.getElementById("app"),
    methods: {
      getIndex(e) {
        if (e) console.log(e);
        console.log('点击了');
      },
      update() {
        this.inputText = this.newInput;
        this.radio = "me";
        this.checkboxBool = true;
        this.checkboxArray = ["apple"];
        this.selected = "apple";
        this.selectedMult = ["apple"];
      }
    },
    model: {
      inputText: {
        title: "",
      },
      newInput: {
        title: "1111",
      },
      radio: "",
      checkboxBool: false,
      checkboxArray: [],
      selected: "",
      selectedMult: [],
    },
    mounted() {
      console.log('mounted!');
    },
  };
  new MVVM(data);
</script>

</html>
